@font-face {
    font-family: "YekanBakh";
    src: url("../fonts/YekanBakh/YekanBakhFaNum-Thin.ttf") format("woff2");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "YekanBakh";
    src: url("../fonts/YekanBakh/YekanBakhFaNum-Thin.ttf") format("woff2");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "YekanBakh";
    src: url("../fonts/YekanBakh/YekanBakhFaNum-Light.ttf") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "YekanBakh";
    src: url("../fonts/YekanBakh/YekanBakhFaNum-Regular.ttf") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "YekanBakh";
    src: url("../fonts/YekanBakh/YekanBakhFaNum-Regular.ttf") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "YekanBakh";
    src: url("../fonts/YekanBakh/YekanBakhFaNum-SemiBold.ttf") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "YekanBakh";
    src: url("../fonts/YekanBakh/YekanBakhFaNum-Bold.ttf") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "YekanBakh";
    src: url("../fonts/YekanBakh/YekanBakhFaNum-ExtraBold.ttf") format("woff2");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "YekanBakh";
    src: url("../fonts/YekanBakh/YekanBakhFaNum-Black.ttf") format("woff2");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

.Heading1 {
    font-family: "YekanBakh";
    font-size: 86px;
    font-weight: 800;
    color: #003366;
}

.Heading2 {
    font-family: "YekanBakh";
    font-size: 48px;
    font-weight: 800;
    color: #003366;
}

.WrittenPage h1{
    font-family: "YekanBakh";
    font-size: 48px;
    font-weight: 800;
    color: #000000;
    line-height: 60px;
}

.WrittenPage h2{
    font-family: "YekanBakh";
    font-size: 36px;
    font-weight: 700;
    color: #000000;
    line-height: 50px;
}

.WrittenPage h3{
    font-family: "YekanBakh";
    font-size: 28px;
    font-weight: 700;
    color: #000000;
    line-height: 50px;
}

.WrittenPage li{
    font-family: "YekanBakh";
    font-size: 28px;
    font-weight: 400;
    color: #000000;
    line-height: 40px;
}

.WrittenPage p{
    font-family: "YekanBakh";
    font-size: 24px;
    font-weight: 400;
    color: #000000;
    line-height: 40px;
}