* {
    margin: 0;
    padding: 0;
    /* border: red;
    border-style: solid;
    border-width: 0.5px; */
}

body {
    width: 100%;
}

.Container {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
}

.NavBar {
    height: 148px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    padding: 0 100px;
}

.Content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

.Header {
    width: 100%;
    min-height: calc(100vh - 148px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.PrimaryButton {
    margin-top: 20vh;
}

.ContainerItem {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.ShelfSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.ShelfItem {
    width: 396px;
    height: 487px;
    padding: 10px;
}

.ShelfItem img {
    width: 396px;
    height: 369px;
}

.ShelfItem .DownBar {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

.ShelfItem .DownBar p:nth-child(3) {
    margin-right: auto;
}

.ShelfItem .DownBar img {
    width: 48px;
    height: 46px;
}

.AboutSection {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.AboutSectionItems {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 350px;
    height: 400px;
}

.AboutSectionItems img {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    margin: 20px 0;
}

.AboutSectionItems p {
    width: 263px;
    height: 44px;
}

@media only screen and (max-width:359px) {
    .Container {
        max-width: 200px;
    }
}

@media only screen and (max-width:610px) and (min-width:360px) {
    .Container {
        max-width: 340px;
    }
}

@media only screen and (max-width:899px) and (min-width:610px) {
    .Container {
        max-width: 550px;
    }
}

@media only screen and (max-width:1479px) and (min-width:900px) {
    .Container {
        max-width: 870px;
    }
}

@media only screen and (max-width:1849px) and (min-width:1480px) {
    .Container {
        max-width: 1420px;
    }
}

@media only screen and (min-width:1850px) {
    .Container {
        max-width: 1820px;
    }
}