* {
    margin: 0;
    padding: 0;
    /* border: red;
    border-style: solid;
    border-width: 0.5px; */
}

body {
    width: 100%;
}

.Container {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
}

.NavBar {
    height: 148px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    padding: 0 100px;
    position: sticky;
    top: 0;
    z-index: 100;
}

.Content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

.Header {
    width: 100%;
    min-height: calc(100vh - 148px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.PrimaryButton {
    width: auto;
    height: 108px;
    padding: 0 50px;
    margin-top: 10%;
}

.ContainerItem {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 5vh;
    min-height: 95vh;
}

.ShelfSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.ShelfItem {
    width: 396px;
    min-height: 487px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
}

.ShelfItem .ShelfItemPic {
    width: 396px;
    height: 369px;
}

.ShelfItem .DownBar {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    margin-top: auto;
}

.ShelfItem .DownBar p:nth-child(3) {
    margin-right: auto;
}

.ShelfItem .DownBar img {
    width: 48px;
    height: 46px;
}

.AboutSection {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.AboutSectionItems {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 350px;
    height: 400px;
}

.AboutSectionItems img {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    margin: 20px 0;
}

.AboutSectionItems p {
    width: 263px;
    height: 44px;
}

.ContainerItem {
    min-height: calc(100vh - 148px);
}

.Footer {
    width: 100%;
    min-height: 250px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.Footer .Top {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
}

.Footer .Top .Col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.Footer .Down h3 {
    text-align: center;
}

.Footer .Top .Col a {
    padding: 3px;
}

.SpanWarp {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width:359px) {
    .Container {
        max-width: 200px;
    }

    .NavBar .Center {
        display: none;
    }

    .NavBar .Left {
        display: none;
    }

    .ShelfItem {
        width: 320px;
        min-height: 400px;
    }

    .ShelfItem .ShelfItemPic {
        width: 320px;
        height: 290px;
    }
}

@media only screen and (max-width:610px) and (min-width:360px) {
    .Container {
        max-width: 340px;
    }

    .NavBar .Center {
        display: none;
    }

    .NavBar .Left {
        display: none;
    }

    .ShelfItem {
        width: 330px;
        min-height: 400px;
    }

    .ShelfItem .ShelfItemPic {
        width: 330px;
        height: 300px;
    }
}

@media only screen and (max-width:899px) and (min-width:610px) {
    .Container {
        max-width: 550px;
    }

    .NavBar .Center {
        display: none;
    }
}

@media only screen and (max-width:1479px) and (min-width:900px) {
    .Container {
        max-width: 870px;
    }

    .NavBar .Center {
        display: none;
    }
}

@media only screen and (max-width:1849px) and (min-width:1480px) {
    .Container {
        max-width: 1420px;
    }
}

@media only screen and (min-width:1850px) {
    .Container {
        max-width: 1820px;
    }
}